{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Posts</h1>

    <article>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt }}</p>
        {% endfor %}
    </article>

</div>
{% endblock %}
