{% extends 'base.html.twig' %}

{% block title %}Marc Young - Fullstack!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Marc Young </h1>
    <h2>Full Stack PHP Web Developer</h2>

    <p>Welcome to my Portfolio!</p>

</div>
{% endblock %}
