<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marc Young{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
    <header>
        <h1>Marc Young</h1>
        <p>Welcome to my website!</p>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        Marc Young
    </footer>
    </body>
</html>
